@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #c0d1c2;
}
.sky{
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.predio3d{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.menu{
  display: flex;
  align-items: center;
}

.predio{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  z-index: 1000;
}

.sky{ 
  display: none;
}

.logo-ws{
  max-width: 9%;
  border-radius: 90px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

#salas{
  display: none;
}

@media only screen and (max-width: 715px) {
  .predio{
      display: inline-block;
  }
  .menu{
      display: inline-block;
  }
  .sky{
      display: none;
  }
}