@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #c0d1c2;
  margin: 0px;
  padding: 0px;
}
.sky{
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.predio3d{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.menu{
  display: flex;
  align-items: center;
}

.predio{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
  z-index: 1000;
}

.sky{ 
  display: none;
}

.logo-ws{
  max-width: 6%;
  border-radius: 90px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  z-index: 10;
}

.logo-ws{
  text-align: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

#salas{
  display: none;
}

.parentDiv {
  position: absolute;
  width: 100%;
  background-color: #182224;
  color: white;
}

.nav {
  text-align: center;
}

ul li{
  display: inline-block;
  padding: 0 5px;
}

@media only screen and (max-width: 715px) {
  .predio{
      display: inline-block;
  }
  .menu{
      display: inline-block;
  }
  .sky{
      display: none;
  }
}